#home{
  background: rgb(237, 241, 248);
  background: linear-gradient(135deg, rgb(237, 241, 248)20%,rgb(82, 113, 255)100%);
  min-height: 500px;
  padding-left: 50px;
  padding-bottom: 35px;
}

#about{
  background: rgb(237, 241, 248);
  background: linear-gradient(135deg, rgb(237, 241, 248)20%, rgb(82, 113, 255)100%);
}

#features{
  background: rgb(237, 241, 248);
  background: linear-gradient(135deg, rgb(237, 241, 248)20%, rgb(82, 113, 255)100%);
}
#dashboard{
  display: block;
  max-width: 75%;
  margin-top: 40px;
  margin-left: 80px;
  border-radius: 1rem;
}

#footer{
  background-color: #f3f2f2;
}

#bestplan{
  background-color: rgb(82, 113, 255);
}
#registration{
  background: rgb(237, 241, 248);
  background: linear-gradient(135deg, rgb(237, 241, 248)20%, rgb(82, 113, 255)100%);
}

#login{
  background: rgb(237, 241, 248);
    background: linear-gradient(135deg, rgb(237, 241, 248)20%, rgb(82, 113, 255)100%);

}